<head> 
<meta charset="utf-8" /> 
<!--[if lt IE 9]>
<script src="/static/js/html5.js"></script>
<![endif]--> 
	<title>HR4E CDA Builder</title>
   	<!--link rel="shortcut icon" href="static/favicon.ico" > 
   	<!--script type="text/javascript" src="/static/js/jquery.min.js"></script> 
    	<!--script type="text/javascript" src="/static/js/hr4e.js"></script> 
	<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script> -->
    	<link rel="stylesheet" type="text/css" href="/static/css/super.css" />
	<script type="text/javascript" src="/static/js/jquery.min.js"></script> 
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ui.nestedSortable.js"></script>
	<script type="text/javascript" src="/static/js/super.js"></script>
	<link type="text/css" href="/static/css/flick/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
		
</head>
