<header> 
	<h1 class="main_header">HR4E CDA Builder</h1>
</header>

<!--
<nav class ="main_header">
<ul>
	<li><a href="all_cda.html"><strong><span class = "superextruded">CDA's</span></strong></a></br>
		<a href="add_cda.html"><strong><span class = "extruded">Add</span></strong></a>
		<a href="all_cda.html"><strong><span class = "extruded">Edit</span></strong></a>
	</li>
	<li><a href="clinics.html"><strong><span class = "superextruded">Clinics</span></strong></a></br>
		<a href="add_clinic.html"><strong><span class = "extruded">Add</span></strong></a>
		<a href="clinics.html"><strong><span class = "extruded">Edit</span></strong></a>
	</li>
	<li><a href="patient_manager.html"><strong><span class = "superextruded">Patient Manager</span></strong></a></li>
	<li><a href="admin_settings.html"><strong><span class = "extruded">Settings</span></strong></a></li>
	<li><a href="non.html"><strong><span class = "extruded">Non</span></strong></a></li>
</ul>
</nav>
-->
<nav> 
	<li><a href="index.html">Home</a></li> 
	<!--li><a href="all_cda.html">CDA Documents</a> 
		<ul> 
			<li><a href="add_cda.html">Add New</a> 
			<li><a href="all_cda.html">Edit</a>
		</ul> 
	</li--> 
	<li><a href="all_clinics.html">Clinics</a>
		<ul> 
			<li><a href="add_clinic.html">Add New</a> 
			<li><a href="all_clinics.html">Edit</a>
		</ul>
	</li>
	<li><a href="patient_manager.html">Patient Manager</a></li> 
	<li><a href="admin_settings.html">Settings</a>
		<ul> 
			<li><a href="admin_settings.html">Basic</a> 
			<li><a href="theme_settings.html">Theme Settings</a>
		</ul>
	</li>
</nav>
