<div id = "widget">
	<button class = "clinic_button" id="minimize_widgets" title="show or hide widget menu">
	</button>
	

	<div class="scroll-pane ui-widget ui-widget-header ui-corner-all">
	<div class="scroll-content">
		<div class="dragger scroll-content-item ui-widget-header">
			<h5 class="ui-widget-header"><strong>Lab Pharmacy</strong></h5>
			<img src="/static/images/5.gif"  alt="Om nom nom" width="60" height="40" //>
			
			<span class="ui-icon ui-icon-trash">Delete image</span>
		</div>
		<div class="dragger scroll-content-item ui-widget-header">
			<h5 class="ui-widget-header"><strong>Triage</strong></h5>
			<img src="/static/images/5.gif"  alt="Om nom nom" width="60" height="40" //>
			
			<span class="ui-icon ui-icon-trash">Delete image</span>
		</div>
		<div class="dragger scroll-content-item ui-widget-header">
			<h5 class="ui-widget-header"><strong>Nutrition</strong></h5>
			<img src="/static/images/5.gif"  alt="Om nom nom" width="60" height="40" //>
			
			<span class="ui-icon ui-icon-trash">Delete image</span>
		</div>
		<div class="dragger scroll-content-item ui-widget-header">
			<h5 class="ui-widget-header"><strong>Demographics</strong></h5>
			<img src="/static/images/5.gif"  alt="Om nom nom" width="60" height="40" //>
			
			<span class="ui-icon ui-icon-trash">Delete image</span>
		</div>
		<div class="dragger scroll-content-item ui-widget-header">
			<h5 class="ui-widget-header"><strong>Red Flags</strong></h5>
			<img src="/static/images/5.gif"  alt="Om nom nom" width="60" height="40" //>
			
			<span class="ui-icon ui-icon-trash">Delete image</span>
		</div>
		<div class="dragger scroll-content-item ui-widget-header">
			<h5 class="ui-widget-header"><strong>Plan of Care</strong></h5>
			<img src="/static/images/5.gif"  alt="Om nom nom" width="60" height="40" //>
			
			<span class="ui-icon ui-icon-trash">Delete image</span>
		</div>
		<div class="dragger scroll-content-item ui-widget-header">
			<h5 class="ui-widget-header"><strong>Generic Observation</strong></h5>
			<img src="/static/images/5.gif"  alt="Om nom nom" width="60" height="40" //>
			
			<span class="ui-icon ui-icon-trash">Delete image</span>
		</div>
		
	</div>
	<div class="scroll-bar-wrap ui-widget-content ui-corner-bottom">
		<div class="scroll-bar"></div>
	</div>
</div>

  </div>
<br class="clear" />
